@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@1,500&display=swap");

* {
  --border-bottom: 1.5px solid rgb(226, 226, 226);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1150px;
}

.bg-light {
  background-color: rgb(255, 255, 255) !important;
}
.bg-dark {
  background-color: rgb(39, 38, 38) !important;
}

.bt {
  background-color: rgb(255, 52, 52);
  padding: 10px 20px;
  color: white;
  display: inline-block;
  border-radius: 6px;
  transition: all 0.5s;
}

.bt:hover {
  background-color: black;
  color: white;
}


.b-t {
  border-top: var(--border-bottom);
}

/*/////////////////////// INDEX PAGE //////////////////////////////////////////////////*/

nav {
  box-shadow: 2px 0 7px rgb(70, 70, 70);
  transition: all 0.5s;
}

.nav-item {
  margin: 0 10px;
  font-weight: 800;
  padding: 6px;
}

.navbar-brand {
  font-weight: 800;
  font-size: 25px;
}

.c-image {
  max-height: 83vh;
  background-size: cover;
}

.carousel-item {
  position: relative;
}

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.caption-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.product-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-bottom);
}

.details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.details p {
  color: rgb(107, 107, 107);
}

.tittle {
  color: rgb(91, 91, 253);
}

.star i {
  color: rgb(248, 53, 53);
}

.home-about-heading {
  border-bottom: var(--border-bottom);
}

.text-info {
  color: rgb(59, 59, 245) !important;
}

.about-sixteen-clothing ul li {
  transition: all 0.3s;
}

.about-sixteen-clothing ul li:hover {
  color: red;
  cursor: pointer;
}

.about-sixteen-clothing p,
ul li {
  color: rgb(87, 86, 86);
}



.about-sixteen-clothing a {
  text-decoration: none;
  color: white;
}

.purchase {
  border-top: var(--border-bottom);
  border-bottom: var(--border-bottom);
  padding: 50px 15px;
}

.purchase p {
  color: rgb(87, 86, 86);
}

.purchase-box {
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
}

.purchase-btn a {
  text-decoration: none;
  color: white;
}

footer p {
  text-align: center;
}

/*/////////////////////// PRODUCTS PAGE //////////////////////////////////////////////////*/

.products-header {
  background: url("./images/products-heading.jpg") no-repeat center;
  height: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header p {
  letter-spacing: 1.5;
}

.all-products-tabs {
  text-align: center;
  margin-top: 100px;
  border-bottom: var(--border-bottom);
  padding-bottom: 5px;
}

.all-products-tabs a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 14.5px;
  margin: 0 8px;
  transition: all 0.3s;
}

.all-products-tabs a:hover {
  color: rgb(248, 53, 53);
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
}

.page-count {
  padding-bottom: 80px;
  border-bottom: var(--border-bottom);
}

/*/////////////////////// ABOUT PAGE //////////////////////////////////////////////////*/
.about-header {
  background: url("./images/about-heading.jpg") no-repeat center;
  height: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background {
  margin-top: 100px;
}

.background-heading {
  border-bottom: var(--border-bottom);
}

.find-us-at {
  border-top: var(--border-bottom);
  padding: 20px 0px;
}

.find-us-at small {
  background-color: rgb(240, 240, 240);
  font-size: 30px;
  padding: 10px;
  transition: all 0.5s;
}

.background p {
  color: rgb(87, 86, 86);
}

.find-us-at small:hover {
  background-color: rgb(248, 53, 53);
  color: white;
}

.team {
  margin-top: 120px;
}

.team-heading {
  border-bottom: var(--border-bottom);
}

.team p {
  color: rgb(87, 86, 86);
}

.card-text {
  font-size: 15px;
}

/*/////////////////////// CONTACT PAGE //////////////////////////////////////////////////*/

.contact-header {
  background: url("./images/contact-heading.jpg") no-repeat center;
  height: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location {
  margin-top: 100px;
}

.location-heading {
  border-bottom: var(--border-bottom);
}

.location p {
  color: rgb(87, 86, 86);
}

.map-location {
  height: 100%;
  width: 100%;
}

.send-msg {
  margin-top: 100px;
}

.send-msg-heading {
  border-bottom: var(--border-bottom);
}
